.align {
    text-align: center !important;
}
.message {
font-style: italic;
color: transparent;
}
.alert {
    color: red;
}
.zodImg {
    font-size: 60px;
}
.bigText {
    font-size: 40px;
    display: block;
    padding-top: 5%;
    padding-bottom: 10%; 
}
.tdRight {
    border-right: 1px solid;
    padding-right: 10px !important;
}
.tdLeft {
    border-left: 1px solid;
    padding-left: 10px !important;
}
.heart {
	font-size: 50px;
	color: #e00;

	-webkit-animation: beat .25s infinite alternate;
	-moz-animation: beat .25s infinite alternate;
	-ms-animation: beat .25s infinite alternate;
	-o-animation: beat .25s infinite alternate;
	animation: beat .25s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}


@keyframes "beat" {
 to {
    -webkit-transform: scale(1.4);
   	-moz-transform: scale(1.4);
   	-o-transform: scale(1.4);
   	-ms-transform: scale(1.4);
   	transform: scale(1.4);
 }

}

@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.4);
   transform: scale(1.4);
 }

}